/*
color
#f3f3f3
#3a3a3a
rgba(59,65,79, 1) #3B414F
rgba(44, 49, 60, 1) #2c313c
#e2bc48
Disabled color: #737373
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Raleway|Work+Sans|Maven+Pro');
@font-face {
  font-family: 'Sugoe UI';
  src:  url('../fonts/Segoe UI.ttf') format('truetype');
}
@font-face {
  font-family: 'FreeSet';
  src:  url('../fonts/freeset.ttf') format('truetype');
}
@font-face {
  font-family: 'MintType';
  src:  url('../fonts/MintType.otf') format('opentype');

}
@font-face {
  font-family: 'Sansation';
  src:  url('../fonts/Glober.otf') format('opentype');
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    font-size: 16px;
    height: 100%;
}

/* FONT OVERHAUL */
body, button, input, select{
    font-family:  'Maven Pro', 'Work Sans', 'FreeSet', 'Sugoe UI', 'Open Sans Condensed', sans-serif;
    font-weight: 500;
}
input[type=text]{
    cursor: default;
}
label{
    margin: 0 1em;
}

.sub-text{
    /* color: #737373; */
}

.check-cont{
    display: flex;
    align-items: center;
    align-content: center;
    margin: 1em;
    transition-duration: 0.2s;
}
.checkbox {
	-webkit-appearance: none;
	padding: 9px;
    border: 2px solid;
    border-radius: 0.3em;
	display: inline-block;
	position: relative;
    outline: none;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    margin-right: 0.9em;
    cursor: pointer;
}
.main-checkbox:checked {
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.twitter-checkbox:checked{
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.discord-checkbox:checked{
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
.checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}

.title-card{
    /* background-color: white; */
}
.main-cont{
    overflow-y: hidden;
}
.sub-cont{
    height:100%;
    display: flex;
    flex-flow: column;
}
.main-card{
    padding: 0.5em 0.5em;
}

.bottom-card{
    min-height: 76.375px;
    overflow-y: visible;
}
.main-card2{
    padding: 0.5em 0.5em;
    height: 100%;
    flex-grow: 1;
}
.settings-card{
    padding: 0.5em 0.5em;
    display: flex;
    flex-flow: column;
}
.grab-buttons{
    display: flex;
    flex-flow: column;
}
.btn-main{
    margin: 1em;
    padding: 0.7em;
    font-weight: 400;
    font-size: 16px;
    /* text-transform: uppercase; */
    border: 2px solid #f3f3f3;
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
    text-decoration: none;
    border-radius: 0.3em;
}
.btn-main2{
    margin: 1em;
    padding: 0.7em;
    font-weight: 400;
    font-size: 16px;
    /* text-transform: uppercase; */
    border: 2px solid #14171A;
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
    text-decoration: none;
    border-radius: 0.3em;
}
.btn2-main{
    margin: 1em;
    padding: 0.7em;
    font-weight: 400;
    font-size: 16px;
    /* text-transform: uppercase; */
    /* border: 2px solid #2c313c; */
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    outline: none;
    text-decoration: none;
    border-radius: 0.3em;
}
.btn-main:hover{
    transition-duration: 0.3s;
}
.btn-color-gold:hover{
    color: #e2bc48;
    border-color: #e2bc48;
}
.btn-color-green:hover{
    color: #48e24a;
    border-color: #48e24a;
}
.btn-color-blue:hover{
    color: #1DA1F2;
    border-color: #1DA1F2;
}
.btn-disabled{
    color: #737373;
    border-color: #737373;
    cursor: default;
}
.btn-disabled:hover{
    color: #737373 !important;
    border-color: #737373 !important;
    cursor: default !important;
}
.btn-color-red:hover{
    color: #f21d1d;
    border-color: #f21d1d;
}
.btn-color-dis:hover{
    color: #7289DA;
    border-color: #7289DA;
}
.btn-color-twch:hover{
    border-color: #6441A4;
    color: #6441A4;
}
.a-btn{
    display: flex;
    text-decoration: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    border: 2px solid rgba(59,65,79, 1);
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
    transition-duration: 0.3s;
}
.slider::-webkit-slider-thumb:hover {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    transition-duration: 0.3s;
}
.numText{
    text-align: center;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0.5em 0.3em;
    font-size: 45px;
}
h3{
    /* font-family: 'Raleway', sans-serif; */
    /* text-transform: uppercase; */
    text-align: center;
    margin: 0;
    font-size: 20px;
    /* font-size: 45px; */
}
.twit-card{
    box-sizing: border-box;
    transition-duration: 0.3s;
    border: 0px solid #1DA1F2;
}
.twit-card:hover{
    border-bottom: 3px solid #1DA1F2;
}
.dis-card{
    box-sizing: border-box;
    transition-duration: 0.3s;
    border: 0px solid #7289DA;
}
.dis-card:hover{
    border-bottom: 3px solid #7289DA;
}
.extra-title{
    padding: 0.5em;
}
.neon-top-twi{
    box-sizing: border-box;
    border-top: 3px solid #1DA1F2;
    transition-duration: 0.3s;
}
.neon-top-dis{
    box-sizing: border-box;
    border-top: 3px solid #7289DA;
    transition-duration: 0.3s;
}
.x-icon, .back-icon{
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.icon-links{
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.x-icon, .back-icon{
    padding: 0.2em;
}
.icon-links:visited{
    /* color: #c8c8c8; */
}
.icon-links:focus{
    /* color: #c8c8c8; */
}
.icon-links:hover{
    /* color: #e2bc48; */
    transition-duration: 0.3s;
}
.x-icon:hover{
    transition-duration: 0.3s;
}
.back-icon:hover{
    transition-duration: 0.3s;
}
.flex-row{
    display: flex;
    flex-flow: row;
}
.flex-column{
    display: flex;
    flex-flow: column;
}
.flex-end{
    /* align-self: flex-end; */
    margin-top: auto;
}
.bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0;
}
.top-bar{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
}
.extras-card{
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    flex-grow: 1;
}
.extras-card .extra-column{
    margin: 1em 0;
}
.paypaldonate-btn{
    margin: 0 0.5em;
}
.gearIcon{
    margin: 0 0.5em;
}
.spacer{
    border-bottom: 1px solid rgb(46, 51, 56);
    margin: 1em;
}

/* BUILDER CLASSES */

.flexCenter{
    align-content: center;
    justify-content: center;
}
.flexSpaced{
    align-content: center;
    justify-content: space-between;
}
.flex-grow1{
    flex-grow: 1;
}
.flex-grow2{
    flex-grow: 2;
}
.margin-lr-1em{
    margin-left: 1em;
    margin-right: 1em;
}
.margin-tb-1em{
    margin-top: 1em;
    margin-bottom: 1em;
}
.label-min-width{
    min-width: 6em;
}



a.regular-link{
    text-decoration: none;
    transition-duration: 0.3s;
}
a.regular-link:hover{
    text-decoration: underline;
    transition-duration: 0.3s;
}


/* ANIMATIONS */
.hover-spin{
    transition-duration: 0.3s;
    transform: rotate(0deg);
}
.hover-spin:hover{
    transition-duration: 0.3s;
    transform: rotate(30deg);
}
