/*
color
#f3f3f3
#3a3a3a
rgba(59,65,79, 1) #3B414F
rgba(20, 23,26, 1) #14171A
#e2bc48
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed|Raleway|Work+Sans|Maven+Pro');
@font-face {
  font-family: 'Sugoe UI';
  src:  url('../fonts/Segoe UI.ttf') format('truetype');
}
@font-face {
  font-family: 'FreeSet';
  src:  url('../fonts/freeset.ttf') format('truetype');
}
@font-face {
  font-family: 'MintType';
  src:  url('../fonts/MintType.otf') format('opentype');

}
@font-face {
  font-family: 'Sansation';
  src:  url('../fonts/Glober.otf') format('opentype');
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    margin: 0;
    background-color: rgba(59,65,79, 1);
    font-size: 16px;
    height: 100%;
}

/* FONT OVERHAUL */
body, button, input{
    font-family:  'Maven Pro', 'Work Sans', 'FreeSet', 'Sugoe UI', 'Open Sans Condensed', sans-serif;
    font-weight: 500;
}
input[type=text]{
    cursor: default;
}


.title-card{
    background-color: white;
}
.main-cont{
    max-height: 95%;
    color: #f3f3f3;
}
.main-card{
    padding: 0.5em 0.5em;
}
.settings-card{
    padding: 0.5em 0.5em;
    display: flex;
    flex-flow: column;
}
.grab-buttons{
    display: flex;
    flex-flow: column;
}
.btn-main{
    margin: 1em;
    padding: 0.7em;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    cursor: pointer;
    background-color: rgba(0,0,0,0.0);
    transition-duration: 0.3s;
    outline: none;
    text-decoration: none;
}
.btn-main:hover{
    transition-duration: 0.3s;
}
.btn-color-gold:hover{
    color: #e2bc48;
    border-color: #e2bc48;
}
.btn-color-blue:hover{
    color: #1DA1F2;
    border-color: #1DA1F2;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2px; /* Specified height */
    background: #f3f3f3;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 12px; /* Set a specific slider handle width */
    height: 12px; /* Slider handle height */
    border: 2px solid rgba(59,65,79, 1);
    border-radius: 50%;
    background: #f3f3f3;
    cursor: pointer; /* Cursor on hover */
    transition-duration: 0.3s;
}
.slider::-webkit-slider-thumb:hover {
    width: 14px; /* Set a specific slider handle width */
    height: 14px; /* Slider handle height */
    background: #e2bc48;
    transition-duration: 0.3s;
}
.numText{
    text-align: center;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0.5em 0.3em;
    color: #3a3a3a;
    font-size: 45px;
}
.icon-links, .x-icon{
    transition-duration: 0.3s;
    color: #c8c8c8;
    cursor: pointer;
}
.x-icon{
    padding: 0.2em;
}
.icon-links:visited{
    color: #c8c8c8;
}
.icon-links:focus{
    color: #c8c8c8;
}
.icon-links:hover{
    color: #e2bc48;
    transition-duration: 0.3s;
}
.x-icon:hover{
    color: #ffffff;
    transition-duration: 0.3s;
}
.flexRow{
    display: flex;
    flex-flow: row;
}
.bottom-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3a3a3a;
    padding: 0.5em;
}
.top-bar{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-end;
}
