.input-box{
    width: 100%;;
    margin: 1em 0;
    padding: 0.7em;
    font-weight: 500;
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    cursor: text;
    background-color: rgba(0,0,0,0.0);
    transition-duration: 0.3s;
    outline: none;
    border-radius: 0.3em;
}
select{
    cursor: default;
}
.button-links{
    display: flex;
    flex-flow: column;
    text-decoration: none;
    flex-grow: 1;
}
.donateButton{
    height: 15px;
}
.reg-list{
    overflow-y: auto;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.reg-list-item{
    justify-content: space-around;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    background-color: #2c313c;
    border-radius: 1em;

}
.reg-list-var{
    margin: 0.5em 0;
}
.settings-card{
    overflow-y: auto;
    flex-grow: 1;
}
