<div class="sub-cont toggle container-fluid">
    <div class="top-bar" id="top-bar">
        <a class="back-icon far fa-arrow-alt-circle-left fa-lg" href="#!settings"></a>
        <a class="x-icon far fa-times-circle fa-lg" href="#/!"></a>
    </div>

    <div class="main-card2">
        <div class="twitch-options container-fluid">
            <div class="row">
                <div class="col">
                    <label for="user">Sheets ID*</label>
                </div>
                <div class="col-12 flex-grow-1">
                    <input type="text" id="gsheets-id" class="input-box" name="user" value="" ng-model="gsheets_id" ng-change="sheetsChanged()" required/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="row">
                <div class="col">
                    <label for="user">PC Table Name</label>
                </div>
                <div class="col-12 flex-grow-1">
                    <input type="text" id="gsheets-table-pc" class="input-box flex-grow1" name="user" value="" ng-model="gsheets_table_pc" ng-change="sheetsChanged()"/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="user">PS4 Table Name</label>
                </div>
                <div class="col-12 flex-grow-1">

                    <input type="text" id="gsheets-table-ps4" class="input-box flex-grow1" name="user" value="" ng-model="gsheets_table_ps4" ng-change="sheetsChanged()"/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="user">XB1 Table Name</label>
                </div>
                <div class="col-12 flex-grow-1">
                    <input type="text" id="gsheets-table-xb1" class="input-box flex-grow1" name="user" value="" ng-model="gsheets_table_xb1" ng-change="sheetsChanged()"/>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="row flex-end">
                <div class="col">
                    <button id="gsheets-auth" class="btn btn-main btn-color-gold flex-grow1" name="gsheets-auth" ng-click="gsheetsAuth()">Authenticate Google Sheets</button>
                </div>
                <div class="col">
                    <button id="gsheets-extract" class="btn btn-main btn-color-green flex-grow1" name="gsheets-extract" ng-click="gsheetsExtract()">Import Codes</button>
                </div>
            </div>

        </div>
    </div>
</div>
