<div class="sub-cont toggle">
    <div class="title-card">
        <h1>Glyph Code Grabber</h1>
    </div>

    <div class="main-card" id="main-card">
        <div class="slidecontainer">
            <div class="numText" id="numText">
                {{sliderValue}}
            </div>
            <input ng-change="sliderUpdate($event)" ng-model="sliderValue" type="range" min="1" max="10" value="1" class="slider" id="numCodes" >
        </div>
        <div class="grab-buttons">
            <button class="btn-main btn-color-gold" id="grabPC" type="button" name="grabPC" ng-click="pcCodeGrab()">Grab PC Code(s)</button>
            <button class="btn-main btn-color-gold" id="grabPS4" type="button" name="grabPS4" ng-click="ps4CodeGrab()">Grab PS4 Code(s)</button>
            <button class="btn-main btn-color-gold" id="grabXB1" type="button" name="grabXB1" ng-click="xb1CodeGrab()">Grab XB1 Code(s)</button>
        </div>
    </div>
    <div class="extras-card flexRow" id="extras-card">
        <!-- Twtter Card -->
        <div class="flexSpaced flexColumn flex-grow1 twit-card">
            <div class="extra-title twitter-title neon-top-twi">
                <h3>Twitter Giveaway</h3>
            </div>
            <div class="check-cont">
                <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue1" class="twitter-checkbox checkbox checkbox-color" type="checkbox" id="twitPostPCCode" name="postPCCode" value="postPCCode">PC Codes</input>
            </div>
            <div class="check-cont">
                <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue2" class="twitter-checkbox checkbox checkbox-color" type="checkbox" id="twitPostPS4Code" name="postPS4Code" value="postPS4Code">PS4 Codes</input>
            </div>
            <div class="check-cont">
                <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue3" class="twitter-checkbox checkbox checkbox-color" type="checkbox" id="twitPostXB1Code" name="postXB1Code" value="postXB1Code">XB1 Codes</input>
            </div>
            <button class="btn-main2 btn-color-blue" id="twitPostCodes" name="HelloWorld" ng-click="postCodes()">Post {{sliderValue * twitterMultiplier}} code(s)</button>
        </div>

        <!-- Discord Card -->
        <div class="flexColumn flex-grow1 dis-card">
            <div class="extra-title discord-title neon-top-dis">
                <h3>Discord Bot</h3>
            </div>
            <div class="flexColumn flexSpaced">
                <button class="btn-main2 btn-color-green" id="dis-connect" ng-click="discordConnect()">Connect</button>
                <button class="btn-main2 btn-color-red" id="dis-disconnect" ng-click="discordDisconnect()">Disconnect</button>
            </div>
        </div>
    </div>

    <div class="bottom-bar" id="bottom-bar">
        <div class="tooltip">
            <span class="tooltiptext">Set up your connections and your code locations</span>
            <a class="icon-links gearIcon hover-spin fas fa-cog fa-lg" href="#!settings"></a>
        </div>
        <div class="paypaldonate-btn">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HSAKX77HEBP6L" target="_blank" class="regular-link">Donate</a>
        </div>
    </div>
</div>
