<div class="container-fluid toggle sub-cont d-flex flex-column">

    <div class="row main-card" id="main-card">
        <div class="col-lg slidecontainer">
            <div class="numText" id="numText">
                {{sliderValue}}
            </div>
            <input ng-change="sliderUpdate($event)" ng-model="sliderValue" type="range" min="1" max="10" value="1" class="slider" id="numCodes" >
        </div>

    </div>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-main btn-color-gold" id="grabPC" type="button" name="grabPC" ng-click="pcCodeGrab()">Grab PC Code(s)</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-main btn-color-gold" id="grabPS4" type="button" name="grabPS4" ng-click="ps4CodeGrab()">Grab PS4 Code(s)</button>
        </div>
        <div class="w-100"></div>
        <div class="col-sm">
            <button class="btn btn-main btn-color-gold" id="grabXB1" type="button" name="grabXB1" ng-click="xb1CodeGrab()">Grab XB1 Code(s)</button>
        </div>
        <div class="col-sm">
            <button class="btn btn-main btn-color-gold" id="grabSwitch" type="button" name="grabSwitch" ng-click="switchCodeGrab()">Grab Switch Code(s)</button>
        </div>

    </div>

    <div class="spacer"></div>

    <div class="extras-card row flex-fill" id="extras-card">
        <!-- Twtter Card -->
        <div class="col flex-grow-1 twit-card">
            <div class="extra-title twitter-title neon-top-twi mb-3">
                <h3>Twitter Giveaway <i class="fas fa-caret-square-down float-right icon-links" data-toggle="collapse" data-target="#twitter-controls" ng-click="openTwitterControls()"></i></h3>
            </div>
            <div class="collapse" id="twitter-controls">
                <div class="custom-control custom-checkbox" >
                    <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue1" class="twitter-checkbox checkbox-color-light custom-control-input" type="checkbox" id="twitPostPCCode" name="postPCCode" value="postPCCode"></input>
                    <label for="twitPostPCCode" class="custom-control-label checkbox-color-light twitter-checkbox">PC Codes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue2" class="twitter-checkbox checkbox-color-light custom-control-input" type="checkbox" id="twitPostPS4Code" name="postPS4Code" value="postPS4Code"></input>
                    <label for="twitPostPS4Code" class="custom-control-label checkbox-color-light twitter-checkbox">PS4 Codes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue3" class="twitter-checkbox  checkbox-color-light custom-control-input" type="checkbox" id="twitPostXB1Code" name="postXB1Code" value="postXB1Code"></input>
                    <label for="twitPostXB1Code" class="custom-control-label checkbox-color-light twitter-checkbox">XB1 Codes</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input ng-change="updateNumLoc($event)" ng-model="twitAmtValue4" class="twitter-checkbox checkbox-color-light custom-control-input" type="checkbox" id="twitPostSwitchCode" name="postSwitchCode" value="postSwitchCode"></input>
                    <label for="twitPostSwitchCode" class="custom-control-label checkbox-color-light twitter-checkbox">Switch Codes</label>
                </div>
                <button class="btn btn-main btn-color-blue" id="twitPostCodes" name="HelloWorld" ng-click="postCodes()">Post {{sliderValue * twitterMultiplier}} code(s)</button>
            </div>

        </div>

        <!-- Discord Card -->
        <div class="col dis-card">
            <div class="extra-title discord-title neon-top-dis mb-3">
                <h3>Discord Bot <i class="fas fa-caret-square-down float-right icon-links" data-toggle="collapse" data-target="#discord-controls" aria-expanded="true" ng-click="openDiscordControls()"></i>
                </h3>
            </div>
            <div class="container collapse" id="discord-controls">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-main btn-color-green" id="dis-connect" ng-click="discordConnect()">Connect</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-main btn-color-red" id="dis-disconnect" ng-click="discordDisconnect()">Disconnect</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bottom-bar container-fluid" id="bottom-bar">
        <div class="row">
            <div class="col">
                <a class="icon-links gearIcon hover-spin fas fa-cog fa-lg" href="#!settings" data-toggle="tooltip" data-placement="right" title="Set up your connections and your code locations."></a>
            </div>
            <div class="col">
                <div class="paypaldonate-btn float-right">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HSAKX77HEBP6L" target="_blank" class="regular-link">Donate</a>
                </div>
            </div>
        </div>
    </div>
</div>
