<div class="sub-cont toggle">
    <div class="top-bar" id="top-bar">
        <div class="flex-spacer"></div>
        <a class="x-icon far fa-times-circle fa-lg" href="#/!"></a>
    </div>

    <div class="main-card settings-card" id="main-card">
        <!-- PC Container -->
        <div class="flex-column pc-box">
            <div class="flex-row">
                <label for="" class="">PC</label>
                <i id="pc-input" class="sub-text flex-grow2">remaining: <i ng-model="pcLocation" id="pc-location"></i></i>
            </div>

            <div class="flex-row margin-lr-1em">

            </div>

            <div class="flex-row">
                <button class="btn-main flex-grow2 btn-color-gold" type="button" name="pcBrowse" ng-click="showFileManager('pc')">Add Codes</button>
                <button class="btn-main flex-grow1 btn-color-red" type="button" name="pcClear" ng-click="clearCodes('pc')">Clear Codes</button>
            </div>
        </div>

        <!-- PS4 Container -->
        <div class="flex-column ps4-box">
            <div class="flex-row">
                <label for="" class="">PlayStation 4</label>
                <i id="ps4-input" class="sub-text flex-grow2">remaining: <i ng-model="ps4Location" id="ps4-location" class="sub-text"></i></i>
            </div>

            <div class="flex-row margin-lr-1em">

            </div>

            <div class="flex-row">
                <button class="btn-main flex-grow2 btn-color-gold" type="button" name="ps4Browse" ng-click="showFileManager('ps4')">Add Codes</button>
                <button class="btn-main flex-grow1 btn-color-red" type="button" name="ps4Clear" ng-click="clearCodes('ps4')">Clear Codes</button>
            </div>
        </div>

        <!-- Xbox One Container -->
        <div class="flex-column xb1-box">
            <div class="flex-row">
                <label for="" class="">Xbox One</label>
                <i id="xb1-input" class="sub-text flex-grow2">remaining: <i ng-model="xb1Location" id="xb1-location" class="sub-text"></i></i>
            </div>

            <div class="flex-row margin-lr-1em">

            </div>

            <div class="flex-row">
                <button class="btn-main flex-grow2 btn-color-gold" type="button" name="xb1Browse" ng-click="showFileManager('xb1')">Add Codes</button>
                <button class="btn-main flex-grow1 btn-color-red" type="button" name="xb1Clear" ng-click="clearCodes('xb1')">Clear Codes</button>
            </div>
        </div>

        <a href="#!settings/reg-list" class="a-btn">
            <button type="button" class="btn2-main flex-grow1">List of Registered Codes</button>
        </a>

        <div class="spacer"></div>

        <!-- CONNECTIONS -->

        <div class="connections-card flex-row">
            <a href="" class="button-links flex-grow1">
                <button class="btn-main btn-color-blue flex-grow1" type="button" name="twitterConn" onclick="twitterOauth()">Connect Twitter</button>
            </a>
            <a href="#!settings/discord" class="button-links flex-grow1">
                <button type="button" class="btn-main btn-color-dis flex-grow1" name="discordInt">Discord Settings</button>
            </a>
            <a href="#!settings/twitch" class="button-links flex-grow1">
                <button type="button" class="btn-main btn-color-twch flex-grow1" name="twitchInt">Twitch Settings</button>
            </a>

        </div>
        <div class="connections-card flex-row">
            <a href="#!settings/gsheets" class="button-links flex-grow1">
                <button type="button" class="btn-main btn-color-sheets flex-grow1" name="gsheetsInt">Google Sheets Settings</button>
            </a>
        </div>

        <div class="spacer"></div>

        <div id="mainOptions" class="flex-column">
            <label for="">Windows Options</label>
            <div class="check-cont">
                <input type="checkbox" id="run-on-start" class="core-settings-change main-checkbox checkbox checkbox-color-light" name="runOnStart" value="" ng-model="run_on_start" ng-change="coreSettingsChange()">Run on Windows Start</input>
            </div>
        </div>
    </div>
    <div class="bottom-bar flex-row flex-end bottom-card" id="bottom-bar">
        <a href="#/!" class="button-links"><button id="save-btn" class="btn-main flex-grow1 btn-color-green" type="button" name="Save" onclick="saveLocations()">Save</button></a>
        <a class="button-links"><button id="reset-btn" class="btn-main flex-grow1 btn-color-red" type="button" name="Reset" onclick="resetConfig()">Reset</button></a>
    </div>
</div>
